// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;



$contrastBackground: #00737a;
$mainBackgrounds: #fbfbf9;
$cardContrastBackground: #e7f0f0;

$positive: #21ba45;
$negative: #EC4130;
$negativeBackground: #F2C5C0;
$info: #31ccec;
$warning: #f2c037;

$borderColor: #b9b9b9;
$borderWithShadow: #e9ebf0;

$hintColor: #626b76;
$optionGroupColor: #123549;

// font sizes
$iconFontSize: 20px;
$mainFontSize: 16px;
$mediumFontSize: 14px;
$mediumSmallFontSize: 12px;
$smallFontSize: 10px;

// paddings and margins
$largePadding: 60px;
$bigPadding: 35px;
$mainBigPadding: 30px;
$mainPadding: 20px;
$mainMediumPadding: 15px;
$mediumPadding: 10px;
$smallMediumPadding: 8px;
$smallPadding: 5px;

// custom
$mainborderradius: 12px;
